<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">

    <img src="../tmp/images/sample0_glow_aboutToSample.png" alt="intructions page 3">
    <img src="../tmp/images/sample1.png" alt="intructions page 3">
    <img src="../tmp/images/sample0_glow_aboutToSample.png" alt="intructions page 3">
    <img src="../tmp/images/sample0_glow_aboutToSample.png" alt="intructions page 3">
    
      <p> When you arrive at a new area, you will not know where the deepest mineral deposits are. </p>
      <p> Instead, you will only see a few SAMPLES (the white circles on the ground) telling how deep the mineral line is at certain locations. </p>
      <p> Upon arrival, you will continue sampling in an attempt to find as deep an area as you can before your drilling crew arrives. </p>
  </div>

  <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>

<script type="text/javascript">
    var index=0;
    function changeBanner(){ 
      [].forEach.call(document.images,function (v,i) { document.images[i].hidden = i!==index});
      index = (index+1) % document.images.length;
    }
    window.onload = function () {setInterval(changeBanner, 1000)};
</script>