<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">

    <!-- <img src="../static/images/instruct-jb-5_flip.png" alt="intructions page 5" width="514" height="384"> -->
    <img src="../static/images/instr_4.png" alt="intructions page 5" width="514" height="384">
        <p> To sample, you must click on the ground line where ever you think it will best help you find as deep an area as possible. </p>
        <p> Note that it costs a significant amount of money to drill at each location, so be sure to choose where to sample wisely! </p>

      <script type="text/javascript">
      //console.log(psiTurk.getInstructionIndicator())
      </script>

  </div>

  <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>
