<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">
    <div id='ss1' class='slideshow'>
      <img class='instrimg' src="../static/images/sample0_glow.png" alt="intructions page 5">
    </div>

    <div class='instrtxt right'>
        <p> You should sample where ever you think it will best help you find as deep an area as you can. </p>
        <p> <strong>To sample mineral line depth at a location, click the ground-line (tan stripe)</strong></p>
        <p> You will know you are able to click because the ground will glow when you hover your mouse over it.</p>
    </div>

  </div>

  <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>
<script type='text/javascript'>
    $('#ss1').cycle({
      fit: 1,
      timeout: 2500,
      speed: 500});
</script>
