<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">

    <img src="../static/images/instr_4.1.png" alt="intructions page 4, image 1 of 2" width="514" height="384">
    <img src="../static/images/instr_4.2.png" alt="intructions page 5, image 2 of 2" width="514" height="384">
        <p>
            At each drilling site, along with the samples you already see, you will get to choose one more location to sample.
        </p>
        <p>
            You only get one extra sample, and it will cost a bit of money to use, so
            <strong>be sure use this sample where ever you think it will help you most!</strong>
        </p>
        <p>
            To sample, click the ground line (the brighter brown line) where you would like to know how deep it is.
            You will know you can click because the ground will glow a small amount when you place your mouse over it.
        </p>

      <script type="text/javascript">
      //console.log(psiTurk.getInstructionIndicator())
      </script>

  </div>

  <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>
