<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">

    <div id='ss1' class='slideshow'>
      <img class='instrimg' src="../static/images/feedback.png" alt="intructions page 7">
    </div>

    <div class='instrtxt right'>
      <p> After a few samples, your mining crew will arrive and drill at the location of the deepest mineral deposit that you have discovered. </p>
      <p> <strong>You will not know exactly when your crew arrives</strong>, so you want to try and find as deep an area as you can as fast as you can.</strong> </p>
      <p> <strong>The deepest sample on the screen when the crew arrives determines how much money you will earn in that area.</strong> </p>
      <p> A red marker will surround the drilled location showing how deep your crew drilled in this area.</strong> </p>
      <p> The mineral deposit line will appear as well, showing you how deep the minerals were in this area. </p>
      <p> A message will also appear showing you how much you earned from drilling in this area, after deducting drilling costs. </p>
      <p> Note that it will cost a significant amount of money to drill at each location once the crew arrives,
          so be sure to choose where to sample wisely! </p>
    </div>
  
  </div>

  <hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>

<script type='text/javascript'>
    $('#ss1').cycle({
      fit: 1,
      timeout: 2500,
      speed: 500});
</script>
