<div id="container-instructions">
  <h1>Instructions</h1>
  <hr>
  <div class="instructions well">
    
    <div id='ss1' class='slideshow'>
      <img class='instrimg' src="../static/images/feedback_glow.png" alt="intructions page 8">
    </div>
    <div class='instrtxt right'>
      <p> Along with feedback, a blue ignition button will also appear on the screen in a random location.
          It will glow green when you hover your mouse over the button.</p>
      <p> When you are ready, click the blue ignition button to move on the the next area,
          where you again perform the sampling process before your drilling crew arrives. </p>
    </div>
  </div>
  <hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>
<script type='text/javascript'>
    $('#ss1').cycle({
      fit: 1,
      timeout: 2500,
      speed: 500});
</script>
