<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">

    <div id='ss1' class='slideshow'>
      <img class='instrimg' src="../static/images/sample0_glow_aboutToSample.png">
      <img class='instrimg'src="../static/images/sample1.png">
      <img class='instrimg'src="../static/images/sample2.png">
    </div>
    
    <div class="instrtxt right">
      <p> When you arrive at a new area, you will not know the locations of the deepest mineral deposits. </p>
      <p> Instead, you will see only a few SAMPLES (the white circles in the ground) indicating how deep the mineral line is at those locations. </p>
      <p> Upon arrival, you will continue sampling in an attempt to find as deep an area as you can before your drilling crew arrives. </p>
    </div>
  </div>

  <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>

  <script type='text/javascript'>
    $('#ss1').cycle({
      fit: 1,
      timeout: 1500,
      speed: 500});
  </script>
