<div id="container-instructions">
  <h1>Instructions</h1>
  <hr>
  <div class="instructions well">
    <!-- <img src="../static/images/instruct-jb-8_flip_sam4.png" alt="intructions page 8" width="514" height="384"> -->
    <img src="../static/images/instr_6.png" alt="intructions page 8" width="514" height="384">
      <p> Along with feedback, a blue ignition button will also appear on the screen in a random location.
          It will glow green when you hover your mouse over the button.</p>
      <p> When you are ready, click the blue ignition button to move on the the next area,
          where you again perform the sampling process before your drilling crew arrives. </p>
  </div>
  <hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>
