<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">

    <!-- <img src="../static/images/instruct-jb-7_flip_sam4.png" alt="intructions page 7" width="514" height="384"> -->
    <img src="../static/images/instr_5.png" alt="intructions page 7" width="514" height="384">
      <p> After a few samples, your mining crew will arrive and drill at the location of the deepest mineral deposit that you have discovered. </p>
      <p> You will not know exactly when your crew arrives, so you want to try and find as deep an area as you can as fast as you can. </p>
      <p><strong> The deepest spot you have found determines how much money you will earn in that area. </strong></p>
      <p> A red marker will surround the drilled location showing how deep your crew drilled in this area. </p>
      <p> The mineral deposit line will appear as well, showing you how deep the minerals were in this area. </p>
      <p> A message will also appear showing you how much you earned from drilling in this area, after deducting drilling costs. </p>

      <script type="text/javascript">
      //console.log(psiTurk.getInstructionIndicator())
      </script>

  </div>

  <hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  </div>
